/* splash screen */
.splash {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.splash img {
  width: 100vmin;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.splash a {
  position:absolute;
  bottom:10px;
  left:10px;
}

body {
  overflow:hidden;
}



.label {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.label.savings{
    top: 0;
    right: 0;
}

.label.price{
    top: 261px;
    left: 0;
}

.label.price .regular{
    text-decoration: line-through;
    margin-right: 10px;
}

.label.price .regular:empty{
    margin:0;
}

.label.expire {
    top: 261px;
    right: 0;
}









.no-sales {
  margin-top: 40px;
}




/* important styles */
.capitalize {
  text-transform: capitalize;
}

.hidden {
  display: none;
}


/* cookies banner */
.cookies-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  z-index: 10;
}

.cookies-banner p {
  font-weight: 300;
}

.cookies-banner b {
  font-weight: 500;
}

.cookies-banner a {
  margin-right: 20px;
}







#categories {
  text-align: left;
  padding-top: 20px;
}

#categories h1 {
  display:inline-block;
}

#categories select {
  display:inline-block;
  vertical-align:super;
  width:auto;
  margin-left:10px;
}

#categories h3 {
  margin-bottom:12px;
}


.content {
  min-height:100vh;
  padding:30px;
  background-color:white;
}



/* popups */
.popup {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0,0,0,0.5);*/ /* Black background with opacity */
  background-color:rgba(0,0,0,0.75);
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  text-align: center;
}

.popup-close {
  position: fixed;
  display: block;
  right: 10px;
  top:10px;
}

.popup .head h3{
  margin-bottom: 30px;
  text-align: center;
}

.popup .head hr{
  margin-bottom:0px;
}

.popup .card {
  width: 80%;
  height:95%;
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  position: relative;
  overflow:hidden;
}

.popup .body {
  overflow-y: scroll;
  padding-right:10px;
  height: calc(100vh - 24px - 40px - 80px);
  text-align: left;
}






#about-popup .body{
  text-align: center;
}
#about-popup .about-logo {
  width: 300px;
}
#about-popup .about-slogan {
  margin-top: 16px;
  text-align: center;
  font-style: italic;
}
#about-popup .about-contact {
  margin-top: 60px;
}
/*#about-popup .about-contact a {
  text-decoration: underline;
}
#about-popup .about-contact a:hover {
  text-decoration: none;
}*/





.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  z-index: 5;
}

.card.sale {
  width:18rem;
  display:inline-block;
  margin:10px 15px 15px 15px;
}

.card.sale a {
  text-decoration:none;
}

.card.sale .card-img-top {
  padding: 10px;
}
.card.sale .card-img-top .img {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card.sale .card-body {
  height:112px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.125); /* might not use this */
}

.card.sale .brand-logo {
  height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}









.navbar .logo {
  position:absolute;
  right:calc((100vw / 2) - 26px);
  margin-right:0px;
}

.navbar .logo img {
  height:52px;
  margin-top:-15px;
  margin-bottom:-10px;
}


.footer {

  height:100px;
  padding:20px;
  position:relative;

}

.footer .contact-link {
  position:absolute;
  right:20px;
  top:20px;
}



















/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* disable dragging and selecting */
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
